#container{
	width: 100%;
	height: 200px;
	background-image: linear-gradient(to right, lightblue, lightpink);
}
 #date{
	width: 200px;
	height: 50px;
	margin: 5%;
}
#row {
	margin: 5%;
	/*display: flex;*/
}
#row div{
	max-height: 300px;
	max-width: 300px;
	    margin-top: 10%;
}
#submit{
	width: 100px;
	background: darkgrey;
}